<%= form_with model: article do |form| %>
  <!-- поле ввода заголовка -->
  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <div class="input-group has-validation">
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <p class=""><%= message %></p>
    <% end %>
  </div>

  <!-- поле ввода самой статьи -->
  <div class="mb-3">
    <%= form.label :body, class: 'form-label' %>
    <div class="input-group">
      <%= form.text_area :body, class: 'form-control' %>
    </div>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <p class=""><%= message %></p>
    <% end %>
  </div>

  <!-- поле ввода статуса (в принципе не нужен, но он был в мануале) -->
  <div class="mb-3">
    <%= form.label :status, class: 'form-label' %>
    <div class="input-group">
      <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public', class: 'form-select' %>
    </div>
  </div>

  <!-- кнопка «отправить» -->
  <div class="mb-3">
    <%= form.submit %>
  </div>
<% end %>
